absl-py==0.12.0
agora-token-builder==1.0.0
aio-pika==6.8.2
aiofiles==23.1.0
aiogram==2.25.1
aiohttp==3.6.3
aiormq==3.3.1
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio==3.7.0
appdirs==1.4.4
APScheduler==3.7.0
asgiref==3.5.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asynctest==0.13.0
attrdict==2.0.1
attrs==20.3.0
audioread==3.0.0
autobahn==23.1.2
Automat==22.10.0
ax-platform==0.2.5.1
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
bce-python-sdk==0.8.83
bcrypt==4.0.1
beautifulsoup4==4.11.1
bidict==0.22.1
blis==0.7.9
boto3==1.26.137
botocore==1.29.137
botorch==0.6.4
bottle==0.12.25
Brotli==1.0.9
CacheControl==0.12.14
cached-property==1.5.2
cachetools==5.2.0
cap-from-youtube==0.0.9
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.0
channels==4.0.0
chardet==3.0.4
charset-normalizer==2.0.12
chatbot==1.5.2b0
ChatterBot==1.0.8
click==8.0.4
cloudpickle==1.6.0
cmake==3.12.0
colorama==0.4.6
colorclass==2.2.2
coloredlogs==14.3
colorhash==1.0.4
common==0.1.2
confection==0.0.4
confluent-kafka==1.9.2
constantly==15.1.0
cryptography==41.0.3
cssselect==1.2.0
cssutils==2.6.0
cx-Oracle==8.3.0
cycler==0.10.0
cymem==2.0.7
Cython==0.29.35
daphne==4.0.0
dask==2022.2.0
data==0.4
decorator==4.4.2
deep-sort-realtime==1.3.2
distlib==0.3.6
distro==1.8.0
Django==3.2.12
django-agora==0.4
django-social-auth==0.7.28
dlib==19.16.0
dm-tree==0.1.5
dnspython==1.16.0
docopt==0.6.2
docx==0.2.4
dual==0.0.10
dynamo3==0.4.10
easyocr==1.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
et-xmlfile==1.1.0
exception==0.1.0
exceptiongroup==1.1.1
face-recognition==1.3.0
face-recognition-models==0.3.0
fake-useragent==1.1.1
fastapi==0.96.0
fbmessenger==6.0.0
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.3.0
filelock==3.9.0
filterpy==1.4.5
fire==0.4.0
Flask==2.2.5
flask-babel==3.1.0
Flask-Login==0.6.2
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==3.0.5
flatbuffers==23.5.26
flywheel==0.5.4
fonttools==4.38.0
fpdf==1.7.2
frozendict==2.3.8
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.0.3
funcsigs==1.0.2
future==0.18.3
fvcore==0.1.5.post20221221
gast==0.3.3
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.0
getmac==0.9.4
gevent==22.10.2
geventhttpclient==2.0.2
gitdb==4.0.10
GitPython==3.1.31
google==3.0.0
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==3.0.0
gpytorch==1.8.1
gradio==3.11.0
greenlet==2.0.2
grpcio==1.34.1
gTTS==2.3.2
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2024.3.1
html5lib==1.1
httpcore==0.15.0
httplib2==0.22.0
httptools==0.5.0
httpx==0.13.3
huggingface-hub==0.14.1
humanfriendly==10.0
hydra-core==1.2.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
imageio==2.25.1
imageio-ffmpeg==0.4.8
imgaug==0.4.0
importlib-metadata==4.13.0
importlib-resources==5.10.2
imread-from-url==0.1.3
imutils==0.5.4
incremental==22.10.0
iopath==0.1.10
ipaddress==1.0.23
ipapi==1.0.4
ipdata==3.4.6
ipython==7.34.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==0.15.1
jsonpickle==2.0.0
jsonschema==3.2.0
kafka-python==2.0.2
keras==2.8.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langchain==0.0.27
langcodes==3.3.0
lap==0.4.0
lazy_loader==0.2
libclang==14.0.6
librosa==0.10.0.post2
lightgbm==3.3.5
lightning-utilities==0.6.0.post0
linkify-it-py==2.0.2
llvmlite==0.39.1
lmdb==1.3.0
locket==1.0.0
lxml==4.9.2
magic-filter==1.0.9
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
mathparse==0.1.2
matplotlib==3.3.4
matplotlib-inline==0.1.6
mattermostwrapper==2.2
mdit-py-plugins==0.3.5
mdurl==0.1.2
mediapipe==0.9.0.1
moviepy==1.0.3
mpmath==1.2.1
msgpack==1.0.4
mtcnn==0.1.1
multidict==4.7.6
multipledispatch==0.6.0
multitasking==0.0.11
murmurhash==1.0.9
mutagen==1.46.0
mysql==0.0.3
mysqlclient==2.1.0
networkx==2.5.1
ninja==1.11.1
nltk==3.7
numba==0.56.4
numpy==1.21.6
oauth2==1.9.0.post1
oauth2client==4.1.3
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.14.0
onnxruntime==1.14.0
onnxruntime-gpu==1.14.0
openai==0.27.8
opencv-python==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.0
outcome==1.2.0
packaging==23.2
Padding==0.5
paddle==1.0.2
paddle2onnx==1.0.6
paddleocr==2.6.1.3
pamqp==2.3.0
pandas==1.3.2
paramiko==3.2.0
parso==0.8.3
partd==1.4.0
pathy==0.10.1
patsy==0.5.6
pbkdf2==1.3
pdf2docx==0.5.6
peewee==3.16.2
pickleshare==0.7.5
Pillow==9.0.1
pkgutil_resolve_name==1.3.10
platformdirs==3.0.0
playsound==1.3.0
plotly==5.13.0
pluggy==1.2.0
pmdarima==2.0.4
pooch==1.6.0
portalocker==2.7.0
premailer==3.10.0
preshed==3.0.8
proglog==0.1.10
prompt-toolkit==2.0.10
protobuf==3.19.6
prox==0.0.17
psutil==5.9.4
psycopg2-binary==2.8.6
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pybboxes==0.1.6
pyception==0.1.1
pyclipper==1.3.0.post4
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.14.1
pycryptodomex==3.17
pydantic==1.8.2
pyDeprecate==0.3.2
pyDes==2.0.1
pydot==1.4.2
pydub==0.25.1
pyfiglet==0.8.post1
pygame==2.5.2
Pygments==2.14.0
PyJWT==2.7.0
pykwalify==1.8.0
pyminizip==0.2.6
pymongo==3.10.1
PyMuPDF==1.20.2
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==2.4.7
PyPDF2==2.11.2
pyprojroot==0.3.0
pyreadline==2.1
pyro-api==0.1.2
pyro-ppl==1.8.0
pyrsistent==0.19.3
PySide2==5.15.2
PySocks==1.7.1
pysound==0.2
PySoundFile==0.9.0.post1
pyTelegramBotAPI==3.8.3
pytesseract==0.3.4
python-bidi==0.4.2
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.1
python-engineio==4.4.1
python-geoip-python3==1.3
python-multipart==0.0.6
python-openid==2.2.5
python-rapidjson==1.10
python-socketio==5.8.0
pytorch-lightning==1.9.5
pytz==2022.7.1
PyWavelets==1.3.0
pywin32==305
PyYAML==6.0.1
QtAwesome==1.1.1
QtPy==2.3.1
questionary==1.9.0
randomname==0.1.5
rapidfuzz==3.1.0
rarfile==4.0
rasa==2.5.1
rasa-sdk==2.8.6
ratelim==0.1.6
ray==1.13.0
redis==3.5.3
regex==2023.12.25
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resampy==0.4.2
rfc3986==1.5.0
rich==13.3.3
roboflow==1.0.9
rocketchat-API==1.15.0
rsa==4.9
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
sahi==0.11.14
sanic==20.9.0
Sanic-Cors==0.10.0.post3
sanic-jwt==1.8.0
Sanic-Plugins-Framework==0.9.5
sanic-routing==0.7.2
scikit-build==0.16.7
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.7.3
seaborn==0.12.2
selenium==4.11.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==0.19.5
service-identity==21.1.0
shapely==2.0.1
shiboken2==5.15.2
simplejson==3.19.1
six==1.15.0
sklearn-crfsuite==0.3.6
slack-sdk==3.21.3
slackclient==2.9.4
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
soxr==0.3.5
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.9.0
SQLAlchemy==2.0.23
sqlparse==0.4.2
srsly==2.4.5
starlette==0.27.0
statsmodels==0.13.5
Sublist3r==1.0
sympy==1.10.1
tabulate==0.9.0
tarsafe==0.0.3
tenacity==8.2.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.3.4
tensorflow-addons==0.12.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.10.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
tensorflow-probability==0.11.1
termcolor==1.1.0
terminaltables==3.1.10
tesseract==0.1.3
textblob==0.17.1
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.1.7
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2021.11.2
tight==0.1.0
timm==0.6.12
tld==0.13
tldextract==3.4.4
tokenizers==0.13.3
toolz==0.12.0
torch==1.13.1
torchaudio==0.13.1
torchmetrics==0.11.1
torchvision==0.14.1
tqdm==4.59.0
traitlets==5.9.0
transformers==4.29.2
trio==0.22.1
trio-websocket==0.10.3
tritonclient==2.34.0
tweepy==4.14.0
twilio==6.50.1
Twisted==22.10.0
twisted-iocpsupport==1.0.2
txaio==23.1.1
typeguard==2.13.3
typer==0.7.0
typing-utils==0.1.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==2.1
uc-micro-py==1.0.2
ujson==4.3.0
ultralytics==8.0.105
urllib3==1.26.15
uvicorn==0.22.0
validators==0.20.0
virtualenv==20.19.0
visualdl==2.5.2
wasabi==0.10.1
wcwidth==0.2.6
webcolors==1.13
webdriver-manager==3.8.6
webencodings==0.5.1
webexteamssdk==1.6.1
websockets==8.1
Werkzeug==2.2.2
wget==3.2
wordcloud==1.9.2
wrapt==1.12.1
wsproto==1.2.0
x2paddle==1.4.1
xgboost==1.6.2
xml-python==0.4.3
yacs==0.1.8
yahoofinancials==1.16
yarl==1.5.1
yfinance==0.2.18
yolov5==7.0.12
yolov6==0.0.1
yolov8==0.0.1
yt-dlp==2023.2.17
zipp==3.11.0
zope.event==4.6
zope.interface==5.5.2